/* ----- Common styles ----- */

body {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Helvetica', sans-serif;
  font-size: 2.2rem;
  user-select: none;
}

.calculator {
  position: relative;
  padding: 20px;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fafafa;
}

/* ----- Input block ----- */
.input-block {
  position: relative;
}

/* Current operation */

.current-operation {
  font-size: 1rem;
  color: grey;
  position: absolute;
  top: 10px;
  left: 22px;
}

/* Input field */

.input {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 60px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 25px 10px 2px 0;
  text-align: right;
  font-size: 3rem;
  color: #000000;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}

.input:hover {
  border: 1px solid #9a9a9a;
}

/* ----- Buttons ----- */

.buttons-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calc-row-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.buttons div {
  align-content: center;
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #ddd;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s,
    box-shadow 0.2s;
}

.buttons div:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.buttons div:active {
  font-weight: bold;
}

.number,
.dot {
  color: #000000;
}

/* Specific buttons */

.buttons .clear {
  color: white;
  background-color: #bc1515;
  border: 1px solid transparent;
}

.buttons .operation,
.buttons .change-sign {
  color: white;
  background-color: #3a78c2;
  border: 1px solid transparent;
}

.buttons .equal {
  width: 142px;
  color: white;
  background-color: #3daf8a;
  border: 1px solid transparent;
}

.buttons .clear:hover {
  background-color: #8d1212;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-color: #8d1212;
}

.buttons .operation:hover,
.buttons .change-sign:hover {
  background-color: #124786;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-color: #124786;
}

.buttons .equal:hover {
  background-color: #278e6d;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-color: #278e6d;
}
