/* ----- Switch theme ----- */

.switch-theme-block {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.switch-theme-btn {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Angle icons */

.angle-icon {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.angle-icon svg path {
  stroke: #3daf8a;
}

.angle-icon-right {
  left: 17px;
}

.angle-icon-left {
  left: 15px;
}

.angle-icon:hover {
  cursor: pointer;
}

.angle-icon.shown-block {
  display: block;
}

/* Theme variants block */

.theme-variants-block {
  display: none;
  width: 50px;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 1;
  border: 1px solid #bbb;
  background-color: white;
  border-radius: 10px;
  padding: 10px 7px 10px 30px;
}

.theme-variants-block.shown-block {
  display: flex;
}

.theme-variant {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
}

.theme-variant:not(.theme-variant[selected='true']):hover {
  cursor: pointer;
}

.check-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  right: -10px;
}

/* Theme variants */

div[data-theme='light-theme'] {
  border: 2px solid grey;
  background-color: #fafafa;
}

div[data-theme='dark-theme'] {
  border: 2px solid #616161;
  background-color: #222222;
}

div[data-theme='blue-theme'] {
  border: 2px solid #afc9e8;
  background-color: #3a78c2;
}

div[data-theme='red-theme'] {
  border: 2px solid #e8afaf;
  background-color: #c23a3a;
}

/* ------ Calculator themes ------ */

/* Dark theme */

.calculator[data-calc-theme='dark-theme'] {
  background-color: #222222;
}

.calculator[data-calc-theme='dark-theme'] .input {
  color: white;
}

.calculator[data-calc-theme='dark-theme'] .current-operation {
  color: #9c9c9c;
}

.calculator[data-calc-theme='dark-theme'] .buttons .operation,
.calculator[data-calc-theme='dark-theme'] .buttons .change-sign {
  background-color: #646464;
}

.calculator[data-calc-theme='dark-theme'] .number,
.calculator[data-calc-theme='dark-theme'] .dot {
  background-color: #aeaeae;
}

.calculator[data-calc-theme='dark-theme'] .buttons .clear {
  background-color: #5a3d3e;
}

.calculator[data-calc-theme='dark-theme'] .buttons .equal {
  background-color: #ffffff;
  color: #000000;
}

/* Blue theme */

.calculator[data-calc-theme='blue-theme'] {
  background-color: #3a78c2;
}

.calculator[data-calc-theme='blue-theme'] .input {
  color: white;
}

.calculator[data-calc-theme='blue-theme'] .current-operation {
  color: #dcdcdc;
}

.calculator[data-calc-theme='blue-theme'] .buttons .operation,
.calculator[data-calc-theme='blue-theme'] .buttons .change-sign {
  background-color: #1e4d85;
}

.calculator[data-calc-theme='blue-theme'] .number,
.calculator[data-calc-theme='blue-theme'] .dot {
  background-color: #93bcec;
  border: 1px solid #4770a0;
}

.calculator[data-calc-theme='blue-theme'] .buttons .clear {
  background-color: #1d276d;
}

.calculator[data-calc-theme='blue-theme'] .buttons .equal {
  background-color: #daedff;
  color: #1d276d;
}

/* Red theme */

.calculator[data-calc-theme='red-theme'] {
  background-color: #c23a3a;
}

.calculator[data-calc-theme='red-theme'] .input {
  color: white;
}

.calculator[data-calc-theme='red-theme'] .current-operation {
  color: #dcdcdc;
}

.calculator[data-calc-theme='red-theme'] .buttons .operation,
.calculator[data-calc-theme='red-theme'] .buttons .change-sign {
  background-color: #ab0000;
}

.calculator[data-calc-theme='red-theme'] .number,
.calculator[data-calc-theme='red-theme'] .dot {
  background-color: #d79595;
  border: 1px solid #e2bbbb;
}

.calculator[data-calc-theme='red-theme'] .buttons .clear {
  background-color: #801111;
}

.calculator[data-calc-theme='red-theme'] .buttons .equal {
  background-color: #ffd8d8;
  color: #000000;
}
