/* ----- Switch theme ----- */

.switch-theme-block {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.switch-theme-btn {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Angle icons */

.angle-icon {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.angle-icon svg path {
  stroke: #3daf8a;
}

.angle-icon-right {
  left: 17px;
}

.angle-icon-left {
  left: 15px;
}

.angle-icon:hover {
  cursor: pointer;
}

.angle-icon.shown-block {
  display: block;
}

/* Theme variants block */

.theme-variants-block {
  display: none;
  width: 50px;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 1;
  border: 1px solid #bbb;
  background-color: white;
  border-radius: 10px;
  padding: 10px 7px 10px 30px;
}

.theme-variants-block.shown-block {
  display: flex;
}

.theme-variant {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
}

.theme-variant:not(.theme-variant[selected='true']):hover {
  cursor: pointer;
}

.check-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  right: -10px;
}

/* Theme variants */

div[data-theme='light-theme'] {
  border: 2px solid grey;
  background-color: #fafafa;
}

div[data-theme='dark-theme'] {
  border: 2px solid #222222;
  background-color: #222222;
}

div[data-theme='blue-theme'] {
  border: 2px solid #3a78c2;
  background-color: #3a78c2;
}
